---
import Layout from '../layouts/Layout.astro';
import Item from '../components/Item.astro';
import NavBar from '../components/NavBar.astro';
import LogoCard from '../components/LogoCard.astro';
---

<Layout title="Boon of Flan" includeFooter={true}>
   <NavBar />
	<main>
      <section class="flex flex-col items-center">
         <img></img>
         <LogoCard />
         <p id="menu" class="mt-4 mb-8 italic text-lg px-8 text-center font-serif">Have a taste of some of the best flan in the Triangle area.</p>
      </section>
      <section class="flex justify-center">
         <div class="sm:grid sm:grid-cols-2 sm:gap-4 xl:grid-cols-3 xl:gap-8">
            <Item 
               title="Classic Flan" 
               altTitle={null} 
               url='classic' 
               body="Soft, creamy flan covered in a caramel glaze." 
               slicePrice={3} 
               wholePrice={14}
               miniPrice={5} 
            />
            <Item 
               title="Boon of Flan" 
               altTitle="Most Popular" 
               url='boon-of-flan' 
               body="Classic flan infused with real vanilla." 
               slicePrice={5} 
               wholePrice={20}
               miniPrice={8} 
            />
            <Item 
               title="Boon of Coco" 
               altTitle='Coconut Flan' 
               url='boon-of-coco' 
               body="Coconut is king." 
               slicePrice={4} 
               wholePrice={16}
               miniPrice={6} 
            />
            <Item 
               title="Boon of Mango" 
               altTitle='Mango Flan' 
               url='boon-of-mango' 
               body="Mango never tasted creamier." 
               slicePrice={4} 
               wholePrice={16}
               miniPrice={6} 
            />
            <Item 
               title="Boon of Café" 
               altTitle='Coffee Flan'
               url='boon-of-cafe' 
               body="Kinda like tiramisu." 
               slicePrice={4} 
               wholePrice={16}
               miniPrice={6} 
            />
         </div>
      </section>
      <section>
         <!-- testimonies -->
      </section>
      <section>
         <!-- meet the baker -->
      </section>
      <section>
         <!-- contact -->
      </section>
	</main>
</Layout>

