

<div class="flex justify-center">
   <div class="w-fit font-mansalva">
      <span class="title-span font-semibold text-lg">Raleigh's</span>
      <h1 class="font-extrabold text-5xl sm:text-6xl">Boon of Flan</h1>
      <div class="w-full text-end">
         <span class="title-span font-semibold text-lg">Made-to-Order</span>
      </div>
   </div>
</div>